node_modules
npm-debug.log
.git
.gitignore
pipeline {
    agent any
    
    environment {
        KUBECONFIG = "/var/lib/jenkins/.kube/config"
    }

    stages {
        stage('Checkout') {
            steps {
                // Jenkins automatically pulls the code from Git here
                checkout scm
            }
        }
        stage('Build Image') {
            steps {
                sh 'docker build -t pratik/my-app:${BUILD_NUMBER} .'
                sh 'docker tag pratik/my-app:${BUILD_NUMBER} pratik/my-app:latest'
            }
        }
        stage('Deploy to K8s') {
            steps {
                sh 'kubectl apply -f k8s/ --validate=false'
            }
        }
    }
}










Docker Desktop Jenkinsfile

pipeline {
    agent any

    // We removed the environment block for KUBECONFIG because we manually 
    // placed the config in the SystemProfile folder earlier. 
    // Jenkins will now find it automatically!

    stages {
        stage('Checkout') {
            steps {
                // Pulls your Node.js code from GitHub
                checkout scm
            }
        }

        stage('Build Image') {
            steps {
                bat 'docker build -t my-app:latest .'
            }
        }

        stage('Sync to Kind') {
            steps {
                bat 'kind load docker-image my-app:latest --name pratik-cluster'
            }
        }

        stage('Deploy to K8s') {
            steps {
                // 1. Apply the manifests
                bat 'kubectl apply -f k8s/'

                // 2. FORCE the pods to restart even if the image name didn't change
                bat 'kubectl rollout restart deployment my-app'
            }
        }
    }
}
